<!DOCTYPE html>
<html lang="pt-br">
  <% include ../templates/configs %>
<body>

<!-- navbar -->
<% include ../templates/nav %>

<!-- menu lateral-->
<% include ../templates/menulateral %>

<div class="main">

  <h4>Logado como admin</h4>
  <h5>Funções</h5>
  <ul>
    <li>Cadastro de Supervisor</li>
    <li>Cadastro de Associação</li>
    <li>Designar Supervisor a uma associação</li>
  </ul>

</div>

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
<script>


/*
var cpf1 = "02582035361";
var email1 = "fabricio.a.s1@hotmail.com";

var cpf2 = "02582035362";
var email2 = "fabricio.a.s2@hotmail.com";

var cpf3 = "02582035363";
var email3 = "fabricio.a.s3@hotmail.com";

var data =  {
    cpf: cpf1,
    email: email1
};


firebase.database().ref('/associacoes/-L-YcwtIyYDqsjG67Y7c/membros/').on('value', function(snapshot) {
  snapshot.forEach(function(childSnapshot) {
        var item = childSnapshot.val();
        var itemKey = childSnapshot.key;
        var m = item.email;
        alert(itemKey);
    });
});*/

</script>
</body>

</html>
