<!DOCTYPE html>
<html lang="pt-br">
  <% include ../templates/configs %>
<body>

<!-- navbar -->
<% include ../templates/nav %>

<!-- menu lateral-->
<% include ../templates/menulateral %>

<div class="main">

</div>

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
<script>
      var tblUsers = document.getElementById('tabelaUsuarios');
      var databaseRef = firebase.database().ref('associados/');
      //var databaseRef = FirebaseFirestore.database().ref('/users');
      var rowindex = 1;

      databaseRef.once('value', function(snapshot) {
          snapshot.forEach(function(childSnapshot) {

              var childKey = childSnapshot.key;
              var childData = childSnapshot.val();

              var row = tblUsers.insertRow(rowindex);
              var cellName = row.insertCell(0);
              var cellName = row.insertCell(1);
              var cellName = row.insertCell(2);
              cellId.appendChild(document.createTextNode(childKey));
              cellName.appendChild(document.createTextNode(childData.user_name));

              rowindex = rowindex + 1;

          });
      });

</script>
</body>

</html>
