<!DOCTYPE html>
<html lang="pt-br">
  <% include ../templates/configs %>
<body>

<!-- navbar -->
<% include ../templates/nav %>

<!-- menu lateral-->
<% include ../templates/menuSupervisor %>

<div class="main">
    <h4>Logado como Supervisor</h4>
    <h5>Funções</h5>
    <ul>
      <li>Cadastro e exclusão de Associado na atual associação que supervisa</li>
      <li>Cadastro de Taxas da associação</li>
      <li>Cadastro de reuniões</li>
    </ul>

</div>

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
<script>

</script>
</body>

</html>
